* {
    padding: 0;
    margin: 0;
  }
  
  img {
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  /*==========
variable css start
==============*/
:root {
    --ff1: 'Open Sans', sans-serif;
    --ff2: 'Raleway', sans-serif; 
}
  
  /*==========
  variable css end
  ==============*/
  /*=========
  common css end
  ==========*/
  /*==========
  variable css start
  ==============*/
  :root {
    --ff1: 'Open Sans', sans-serif;
    --ff2: 'Raleway', sans-serif;
    --brand: #de4644;
    --hd-p-color: #222222;
    --footer-color: #353535;
    --p-color: #666666;
  }
  /*==========
  variable css start
  ==============*/

 /*==========
   #header-top-bar start
  ==============*/
  #header-top-bar .container .list-unstyled li{
      color: white;

  }
  #header-top-bar .container .list-unstyled li a {
      color: rgb(255, 255, 255);
  }
  #header-top-bar .container .list-item ul{
      margin-bottom: 0;
  }
  #header-top-bar .container .list-item ul li a{
    color: rgb(255, 255, 255);
    font-family: var(--ff1);
    font-size: 13px;
   
  }
  #header-top-bar .container .list-item ul li{
    line-height: 40px;
  }

 /*==========
   #header-top-bar END
  ==============*/

 /*==========
   menu
  ==============*/
  .scroll-header {
    background-color: white;
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
    width: 100%;
    position: fixed;
    top: -20px;
    z-index: 9999999999999;
  }
  #menu{
      margin-bottom: 60px;
      margin-top: 20px;
  }
  #menu .navbar .navbar-brand img{
      width: 200px !important;
  }
  #menu .collapse .navbar-nav  li a{
      font-size: 16px;
      color: black;
     
      font-weight: bolder;
  }
  #menu .collapse .navbar-nav  li .item{
      width: 90px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 8px;
      margin-left: 5px;
      text-align: center;
  }
  #menu .collapse .navbar-nav  li a:hover {
      color: #CD072B;

  }

   /*==========
   menu end
  ==============*/


     /*==========
   BANNER start
  ==============*/
  #banner{
      padding-bottom: 50px;
    background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important;
  }

  #banner .container .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      color: white;
     margin-top: 110px;
  }
  #banner .container .details h1{
      margin-top: 30px;
  }
  #banner .container .navbar form{
   margin-top: 20px;
  }
  #banner .container .navbar .form-control{
      width: 284px;
       height: 50px;
      border-radius: 7px;
      border-top-right-radius:0px ;
      border-bottom-right-radius:0px ;
     
  }
  #banner .container .navbar .btn{
      height: 50px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    background-color: #FF4A58;
    color: white;
    border: #FF4A58;
  }
  #banner .container .navbar .btn:hover{
      background-color: #ff4a59e7;
  }

/* 
  #banner .container .discount .hosting{
      margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(238, 6, 6, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3)
     0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
      0px -3px 0px inset;
      height: 400px;
      border: 2px solid white;

  }
  #banner .container .discount .hosting h1{
     
     
      color: white;
      border-radius: 50%;
      font-size: 26px;
      text-align: center;
      
  }
  #banner .container .discount .hosting h2{
      font-size: 18px;
      padding: 0 10px; 
      color: white;
      margin-top: 30px;
  }
  #banner .container .discount .hosting .link{
      margin-top: 80px;
      font-size: 13px;
      padding: 14px 23px; 
      background-color:#FF4A58;
      color: white;
      display: block;
      border-radius: 6px;
      box-shadow: rgba(197, 195, 195, 0.4) 
      0px 2px 4px, rgba(138, 122, 122, 0.3)
       0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
        0px -3px 0px inset;
        
  } */
      /*==========
   BANNER end
  ==============*/


       /*==========
   oder Details
  ==============*/
  #order-details .container .details {
      text-align: center;
  }
  #order-details .container .details h1 {
      font-weight: bold;
  }
  #order-details .container .details p {
      margin-bottom: 50px;
  }
  #order-details .container .details a {
      font-weight: bolder;
      cursor: pointer;
      margin-top: 150px;
      font-size: 25px;
      padding: 14px 23px; 
      background-color:#FF4A58;
      color: white;
     
      border-radius: 6px;
      box-shadow: rgba(197, 195, 195, 0.4) 
      0px 2px 4px, rgba(138, 122, 122, 0.3)
       0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
        0px -3px 0px inset;
  }


  #order-details .container .step1 {
      margin-top: 70px;
  }
  #order-details .container .step2 {
      margin-top: 70px;
  }
  #order-details .container .step3 {
      margin-top: 70px;
  }
  #order-details .container .step1 .img img{
      
  }
  #order-details .container .step1 .details h1{
      margin: auto;
      width: 250px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
     rgba(240, 46, 170, 0.3) 0px 10px, 
     rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px;
      margin-bottom: 30px;
     
      
  }
  #order-details .container .step2 .details h1{
      margin: auto;
      width: 250px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
     rgba(240, 46, 170, 0.3) 0px 10px, 
     rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px;
      margin-bottom: 30px;
     
      
  }
  #order-details .container .step3 .details h1{
      margin: auto;
      width: 250px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
     rgba(240, 46, 170, 0.3) 0px 10px, 
     rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px;
      margin-bottom: 30px;
     
      
  }
  #order-details .container  .details .learn{
    position: relative;
    font-family: var(--ff1);
    font-size: 14px;
    font-weight: 500;
    padding:  10px 15px; 
    line-height: 1.75em;
    color: rgb(204, 33, 33);
    border: 1px solid #de4644;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
  }
  #order-details .container  .details .learn:hover{
      background-color: #FF4A58;
      border: #FF4A58;
      color: #ffffff;
  }
 

  #order-details .container  .detail2 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
  }

  /*==========
   oder Details
  ==============*/

    /*==========
   70% discount
  ==============*/
  #hosting70{
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        padding-top: 60px;
        padding-bottom: 60px;
  }
  #hosting70 .container .heading {
      text-align: center;
      background-color: white;
       width: 70%;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 35px;

  }
  #hosting70 .container .heading h1{
    font-size: 25px;
    font-weight: bolder;
    line-height: 55px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  #hosting70 .container .pricing .price{
      color: rgb(0, 0, 0);
      border-radius: 8px;
      background-color: white;
      text-align: center;
      padding-bottom: 25px;
      transition: 0.4s;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #hosting70 .container .pricing .price:hover{
      transform: translateY(-10px);
  }
  #hosting70 .container .pricing .price h2{
      font-size: 22px;
      font-family: var(--ff1);
      font-weight: normal;
  }
  #hosting70 .container .pricing .price h1{
      font-size: 37px;
      font-family: var(--ff1);
      font-weight: bolder;
      color: #FF4A58;
      margin-top: 15px;
  }
  #hosting70 .container .pricing .price h1 span{
      font-size: 22px;
  }
  #hosting70 .container .pricing .price h3{
      font-size: 12px;
      color: rgb(124, 121, 121);
  }
  #hosting70 .container .pricing .price h3 span{
    font-size: 15px;
    font-family: var(--ff1);
    font-weight: bolder;
    color: #FF4A58;
  }

  #hosting70 .container .pricing .price h4{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: var(--ff1);
    margin-bottom: 15px;

}
  #hosting70 .container .pricing .price h4 span {
    font-size: 17px;
    color: #FF4A58;
    font-weight: bolder;
    font-family: var(--ff1);

}

#hosting70 .container .pricing .price a{
    cursor: pointer;
    margin-top: 80px;
    font-size: 13px;
    padding: 14px 23px; 
    background-color:#FF4A58;
    color: white;
    
    border-radius: 6px;
    box-shadow: rgba(197, 195, 195, 0.4) 
    0px 2px 4px, rgba(138, 122, 122, 0.3)
     0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
      0px -3px 0px inset;
}

#hosting70 .container .pricing .price ul{
    margin-top: 50px;
    border-top:1px solid rgba(134, 127, 127, 0.63) ;
}
#hosting70 .container .pricing .price ul li{
   padding-bottom: 15px;
}
#hosting70 .container .pricing .price ul li i{
    color: #FF4A58;
}

    /*==========
   70% discount end
  ==============*/
   /*==========
   60% discount
  ==============*/
  #hosting60{
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        padding-top: 60px;
        padding-bottom: 60px;
  }
  #hosting60 .container .heading {
      text-align: center;
      background-color: white;
       width: 70%;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 35px;

  }
  #hosting60 .container .heading h1{
    font-size: 25px;
    font-weight: bolder;
    line-height: 55px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  #hosting60 .container .pricing .price{
      color: rgb(0, 0, 0);
      border-radius: 8px;
      background-color: white;
      text-align: center;
      padding-bottom: 25px;
      transition: 0.4s;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #hosting60 .container .pricing .price:hover{
      transform: translateY(-10px);
  }
  #hosting60 .container .pricing .price h2{
      font-size: 22px;
      font-family: var(--ff1);
      font-weight: normal;
  }
  #hosting60 .container .pricing .price h1{
      font-size: 37px;
      font-family: var(--ff1);
      font-weight: bolder;
      color: #FF4A58;
      margin-top: 15px;
  }
  #hosting60 .container .pricing .price h1 span{
      font-size: 22px;
  }
  #hosting60 .container .pricing .price h3{
      font-size: 12px;
      color: rgb(124, 121, 121);
  }
  #hosting60 .container .pricing .price h3 span{
    font-size: 15px;
    font-family: var(--ff1);
    font-weight: bolder;
    color: #FF4A58;
  }

  #hosting60 .container .pricing .price h4{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: var(--ff1);
    margin-bottom: 15px;

}
  #hosting60 .container .pricing .price h4 span {
    font-size: 17px;
    color: #FF4A58;
    font-weight: bolder;
    font-family: var(--ff1);

}

#hosting60 .container .pricing .price a{
    cursor: pointer;
    margin-top: 80px;
    font-size: 13px;
    padding: 14px 23px; 
    background-color:#FF4A58;
    color: white;
    
    border-radius: 6px;
    box-shadow: rgba(197, 195, 195, 0.4) 
    0px 2px 4px, rgba(138, 122, 122, 0.3)
     0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
      0px -3px 0px inset;
}

#hosting60 .container .pricing .price ul{
    margin-top: 50px;
    border-top:1px solid rgba(134, 127, 127, 0.63) ;
}
#hosting60 .container .pricing .price ul li{
   padding-bottom: 15px;
}
#hosting60 .container .pricing .price ul li i{
    color: #FF4A58;
}

    /*==========
   60% discount end
  ==============*/

 /*==========
 komdami Hosting 
  ==============*/
#komdami-host .container .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    margin-top: 20%;
}
#komdami-host .container .details h1{
    font-weight: bolder;
    font-size: 22px;
}
#komdami-host .container .details a{
    background-color:#FF4A58;
    padding: 14px 10px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
#komdami-host .container .details a:hover{
transform: translateY(-10px);
}


 /*==========
 komdami Hosting  end
  ==============*/



   /*==========
   50% discount
  ==============*/
  #hosting50{
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        padding-top: 60px;
        padding-bottom: 60px;
  }
  #hosting50 .container .heading {
      text-align: center;
      background-color: white;
       width: 70%;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 35px;

  }
  #hosting50 .container .heading h1{
    font-size: 25px;
    font-weight: bolder;
    line-height: 55px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  #hosting50 .container .pricing .price{
      color: rgb(0, 0, 0);
      border-radius: 8px;
      background-color: white;
      text-align: center;
      padding-bottom: 25px;
      transition: 0.4s;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #hosting50 .container .pricing .price:hover{
      transform: translateY(-10px);
  }
  #hosting50 .container .pricing .price h2{
      font-size: 22px;
      font-family: var(--ff1);
      font-weight: normal;
  }
  #hosting50 .container .pricing .price h1{
      font-size: 37px;
      font-family: var(--ff1);
      font-weight: bolder;
      color: #FF4A58;
      margin-top: 15px;
  }
  #hosting50 .container .pricing .price h1 span{
      font-size: 22px;
  }
  #hosting50 .container .pricing .price h3{
      font-size: 12px;
      color: rgb(124, 121, 121);
  }
  #hosting50 .container .pricing .price h3 span{
    font-size: 15px;
    font-family: var(--ff1);
    font-weight: bolder;
    color: #FF4A58;
  }

  #hosting60 .container .pricing .price h4{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: var(--ff1);
    margin-bottom: 15px;

}
  #hosting50 .container .pricing .price h4 span {
    font-size: 17px;
    color: #FF4A58;
    font-weight: bolder;
    font-family: var(--ff1);

}

#hosting60 .container .pricing .price a{
    cursor: pointer;
    margin-top: 80px;
    font-size: 13px;
    padding: 14px 23px; 
    background-color:#FF4A58;
    color: white;
    
    border-radius: 6px;
    box-shadow: rgba(197, 195, 195, 0.4) 
    0px 2px 4px, rgba(138, 122, 122, 0.3)
     0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
      0px -3px 0px inset;
}

#hosting50 .container .pricing .price ul{
    margin-top: 50px;
    border-top:1px solid rgba(134, 127, 127, 0.63) ;
}
#hosting50 .container .pricing .price ul li{
   padding-bottom: 15px;
}
#hosting50 .container .pricing .price ul li i{
    color: #FF4A58;
}

    /*==========
   50% discount end
  ==============*/

   /*==========
300% discount
  ==============*/
  #hosting30{
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        padding-top: 60px;
        padding-bottom: 60px;
  }
  #hosting30 .container .heading {
      text-align: center;
      background-color: white;
       width: 70%;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 35px;

  }
  #hosting30 .container .heading h1{
    font-size: 23px;
    font-weight: bolder;
    line-height: 55px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 8px;
   
  }

  #hosting30 .container .pricing .price{
      color: rgb(0, 0, 0);
      border-radius: 8px;
      background-color: white;
      text-align: center;
      padding-bottom: 25px;
      transition: 0.4s;
      margin-bottom: 20px;
      margin-left: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
  }
  #hosting30 .container .pricing .price:hover{
   
  }
  #hosting50 .container .pricing .price h2{
      font-size: 20px;
      font-family: var(--ff1);
      font-weight: normal;
  }
  #hosting30 .container .pricing .price h1{
      font-size: 35px;
      font-family: var(--ff1);
      font-weight: bolder;
      color: #FF4A58;
      margin-top: 15px;
  }
  #hosting30 .container .pricing .price h1 span{
      font-size: 22px;
  }
  #hosting50 .container .pricing .price h3{
      font-size: 12px;
      color: rgb(124, 121, 121);
  }
  #hosting50 .container .pricing .price h3 span{
    font-size: 15px;
    font-family: var(--ff1);
    font-weight: bolder;
    color: #FF4A58;
  }

  #hosting30 .container .pricing .price h4{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: var(--ff1);
    margin-bottom: 15px;

}
  #hosting50 .container .pricing .price h4 span {
    font-size: 17px;
    color: #FF4A58;
    font-weight: bolder;
    font-family: var(--ff1);

}

#hosting30 .container .pricing .price a{
    cursor: pointer;
    margin-top: 80px;
    font-size: 13px;
    padding: 14px 23px; 
    background-color:#FF4A58;
    color: white;
    
    border-radius: 6px;
    box-shadow: rgba(197, 195, 195, 0.4) 
    0px 2px 4px, rgba(138, 122, 122, 0.3)
     0px 7px 13px -3px, rgba(0, 0, 0, 0.2)
      0px -3px 0px inset;
}

#hosting30 .container .pricing .price ul{
    margin-top: 50px;
    border-top:1px solid rgba(134, 127, 127, 0.63) ;
}
#hosting30 .container .pricing .price ul li{
   padding-bottom: 15px;
}
#hosting30 .container .pricing .price ul li i{
    color: #FF4A58;
}
#hosting30 .container .pricing .banner-slider{

}
#hosting30 .container .pricing .banner-slider .next-arrow {
   position: absolute;
   width: 50px;
   bottom: -30px;
   left: 39%;
    z-index: 1111111;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 25px;
    padding: 4px 10px;
    transition: 0.3s;
    cursor: pointer;
}
#hosting30 .container .pricing .banner-slider .previous-arrow {
    position: absolute;
    bottom: -30px;
 width: 50px;
    right: 35%;
    z-index: 1111111;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 25px;
    padding: 4px 10px;
    transition: 0.3s;
    cursor: pointer;
}
    /*==========
   50% discount end
  ==============*/


 /*==========
 Service
  ==============*/
  #service{
    background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important;
        margin-top: 50px;
        margin-bottom: 50px;
  }
#service .container .details {
    
}
#service .container .details h2{
    font-weight: bolder;
    margin-top: 20px;
    color: ivory;
}
#service .container .details h3{
    margin-top: 58px;
    font-size: 15px;
    margin-bottom: 20px;
    color: ivory;
}
#service .container .details p{
    font-size: 18px;
    line-height: 25px;
    color: ivory;
}
 /*==========
 Service
  ==============*/
 /*==========
 pdf-book
  ==============*/
  #pdf-book .container .img img{

  }
  #pdf-book .container .details h1{
    font-size: 18px;
    font-weight: normal;
    font-family: initial;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  #pdf-book .container .details a{
    background-color:#FF4A58;
    padding: 14px 10px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
  }
  #pdf-book .container .details a:hover{
    background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important;
     
  }
 /*==========
 pdf-book
  ==============*/
 /*==========
Review
  ==============*/
/* #review .container .slider .banner-item{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05)
     0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 7px;
}
#review .container .slider .banner-item img{
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 15px;
}
#review .container .slider .banner-item h3{
    color:#FF4A58;
    font-size: 16px;
    font-weight: bold;

}
#review .container .slider .banner-item p{
    color:#3021228f;
    font-size: 14px;
    font-family: var(--ff1);
    padding: 0 10px;
}
#review .container .slider .banner-item ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: center;
    color: var(--brand);
 

}
#review .container .slider .next-arrow {
    position: absolute;
    bottom: -30px;
    left: 57%;
     z-index: 1111111;
     color: rgb(0, 0, 0);
     border: 1px solid rgb(0, 0, 0);
     font-size: 25px;
     padding: 4px 10px;
     transition: 0.3s;
     cursor: pointer;
 }
 #review .container .slider .previous-arrow {
     position: absolute;
     bottom: -30px;
    
     right: 56%;
     z-index: 1111111;
     color: rgb(0, 0, 0);
     border: 1px solid rgb(0, 0, 0);
     font-size: 25px;
     padding: 4px 10px;
     transition: 0.3s;
     cursor: pointer;
 } */

  /*==========
Review
  ==============*/
  .review-section{
      margin-bottom: 100px;
  }
.review-section h2{
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.review-section .owl-carousel .item .single-review-wrap{
    border-radius: 7px;
}
.review-section .owl-carousel .item .single-review-wrap  .review-body {
   
    height: 200px;
}
.review-section .owl-carousel .item .single-review-wrap  .review-body h5{
    font-weight: bolder;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
   
}
.review-section .owl-carousel .item .single-review-wrap  .review-body p{
    font-size: 14px;
    font-family: var(--ff2);
    color: #444444;

}
.review-section .owl-carousel .item .single-review-wrap .review-author .author-avatar span{

  background-color: #1062fe;
  width: 32px;
  height: 32px;
  font-size: 25px;
  display: flex;
 justify-content: center;
  color: rgb(255, 255, 255);
  line-height: 60px;
  border-radius: 100%;
  font-size: 48px;
  position: absolute;
  top: 66%;
 

}
.review-section .owl-carousel .next-arrow {
    position: absolute;
    width: 50px;
    bottom: -30px;
    left: 39%;
     z-index: 1111111;
     color: rgb(0, 0, 0);
     border: 1px solid rgb(255, 255, 255);
     font-size: 25px;
     padding: 4px 10px;
     transition: 0.3s;
     cursor: pointer;
 }
 .review-section .owl-carousel .previous-arrow {
     position: absolute;
     bottom: -30px;
  width: 50px;
     right: 35%;
     z-index: 1111111;
     color: rgb(0, 0, 0);
     border: 1px solid rgb(255, 255, 255);
     font-size: 25px;
     padding: 4px 10px;
     transition: 0.3s;
     cursor: pointer;
 }
  /*==========
Review
  ==============*/
 /*==========
Review
  ==============*/
 .footer-1 {
     padding-top: 30px;
     padding-bottom: 80px;
    background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important;
        color: rgba(255, 255, 255, 0.452);
 }
 .footer-1 ul{
     margin-left: 0;
     padding-left: 0;
 }
 .footer-1 ul li a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.452);
     font-size: 12px;
 }


 /*==========
timer
  ==============*/
  #question{
    position: fixed;
    
      width: 100%;
      padding-top: 20px;
    background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important;
        z-index: 9999999999;
        bottom: 0;
  }
  #question .text h2{
      color: #ffffff;
      font-size: 25px;
      line-height: 50px;
  }
 #question  .syotimer__body {

    height: 80px;
     margin: auto;
   
    align-items: center;
}
#question  .syotimer-cell{
    width: 70px;
    height: 70px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-right: 15px;
    float: right;
}
#question  .syotimer__body  .syotimer-cell__value{
    font-size: 20px;
    color: #ffffff;
    font-family: var(--hfont);
    font-weight: 600;
    text-align: center;
    margin-top: 7px;
}
#question  .syotimer__body  .syotimer-cell__unit{
    font-size: 15px;
    color: #ffffff;
    font-family: var(--ff2);
    font-weight: 600;
    text-align: center;
}
#question .get-link{
    margin-top: 18px;
}
#question .get-link a{

    position: relative;
    font-family: var(--ff1);
    font-size: 14px;
    font-weight: 500;
    padding:  10px 15px; 
    line-height: 1.75em;
    color: rgb(255, 255, 255);
    border: 1px solid #62208C;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #62208C;
    border-radius: 5px;
    box-shadow: none;
   
}
#question .get-link a:hover{
    background-color: #7B1A75;
    border: 1px solid #7B1A75;
}
 /*==========
timer end
  ==============*/





  /*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: #de4644;
    padding: .4rem;
    display: flex;
    opacity: .9;
    z-index: var(--z-tooltip);
    z-index: 111111111111;
    transition: .4s;
    margin-bottom: 120px;
  }
  
  .scrollup:hover {
    background-color: #e80012;
    opacity: 1;
  }
  
  .scrollup__icon {
    color: white;
    font-size: 1.2rem;
  }
  
  /* Show scroll */
  .show-scroll {
    bottom: 5rem;
  }
  

