@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  
  img {
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  /*==========
variable css start
==============*/
:root {
    --ff1: 'Open Sans', sans-serif;
    --ff2: 'Raleway', sans-serif; 
}

body {
  padding: 0;
  margin: 0;
  


}

#span {
padding: 5px 10px !important;
  transition: 0.4s;
  display: block;
  color: #ffffff !important;
  font-size: 12px;
  font-family: var(--ff1);
background-color: rgba(224, 36, 36, 0.849);
  cursor: pointer;
  display: show;
  box-shadow: rgba(0, 0, 0, 0.719) 0px 5px 15px;
 border-bottom-left-radius: 8px;
 border-top-right-radius: 8px;
 -webkit-animation: bounce 3s cubic-bezier(.37,0,.21,1.02) infinite,fonts 5s linear infinite;
 animation: bounce 3s cubic-bezier(.37,0,.21,1.02) infinite,fonts 5s linear infinite;
}
@keyframes bounce {
    0%,20%,50%,80%,to {
        transform: translateZ(-2px) translateY(3px)
    }

    40% {
        transform: rotateY(150deg) translateZ(-2px) translateY(-20px)
    }

    60% {
        transform: translateZ(-2px) translateY(-10px)
    }
};


  /*==========
  variable css end
  ==============*/
  /*=========
  common css end
  ==========*/
  /*==========
  variable css start
  ==============*/
  :root {
    --ff1: 'Open Sans', sans-serif;
    --ff2: 'Raleway', sans-serif;
    --brand: #de4644;
    --hd-p-color: #222222;
    --footer-color: #353535;
    --p-color: #666666;
  }
  /*==========
  variable css start
  ==============*/
 .rain{
     z-index: -111111111 !important;
 }


 /*==========
   #header-top-bar start
  ==============*/
  #header-top-bar .container .list-unstyled li{
      color: white;

  }
  #header-top-bar .container .list-unstyled li a {
      color: rgb(255, 255, 255);
  }
  #header-top-bar .container .list-item ul{
      margin-bottom: 0;
  }
  #header-top-bar .container .list-item ul li a{
    color: rgb(255, 255, 255);
    font-family: var(--ff1);
    font-size: 13px;
     
  }
  #header-top-bar .container .list-item ul li{
    line-height: 30px;
  }

 /*==========
   #header-top-bar END
  ==============*/

 /*==========
   menu
  ==============*/
  .scroll-header {
    background-color: white;
    /* box-shadow: 0 0 4px rgba(14, 55, 63, 0.15); */
    width: 100%;
    position: fixed;
    top: -20px;
    z-index: 9999999999999;
  }
  #menu{
      margin-bottom: 10px;
      margin-top: 10px;
  }
  #menu .navbar .navbar-brand img{
      width: 200px !important;
  }
  #menu .collapse .navbar-nav  li a{
      font-size: 13px;
      color: rgb(104, 97, 97);
      font-family: var(--ff1);
     font-weight: 600;
      
  }
  #menu .collapse .navbar-nav  li .item{
      width: 100px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 20px;
      margin-left: 5px;
      text-align: center;
      background-color: #e80012;
      color: white;
      transition: 0.6s;
  }
  #menu .collapse .navbar-nav  li .item:hover {
      color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.836) 0px 3px 8px;
  }
  #menu .collapse .navbar-nav  li a:hover {
      color: rgb(241, 43, 43);
     
  }
  #menu .collapse .navbar-nav  li #span:hover {
    border: 1px solid black;
  }

   /*==========
   menu end
  ==============*/


     /*==========
   BANNER start
  ==============*/
  #banner{
      padding-bottom: 50px;
    background: #0F0F0F;
  }

  #banner .container .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      color: white;
     margin-top: 45px;
  }
  #banner .container .details h3{
      font-size: 70px;
      font-weight: bolder;
      margin-top: 60px;
      color: white;
      float: right;
      text-align: center;
  }
  #banner .container .details h1{
      float: right;
      font-size: 100px;
      font-weight: bolder;
      font-family: var(--ff1);
      color: white;
      text-align: center;
  }
  /* #banner .container .details .vps .single-pricing-pack-2 .pricing-icon img{
     
  margin-right: 20px;
  }
  #banner .container .details .vps .single-pricing-pack-2 h4
  {
    font-size: 20px;
    font-family: var(--ff2);
    padding-top: 10px;
   padding-right: 20px;
   
  }
  #banner .container .details .vps .single-pricing-pack-2 p
  {
      width: 210px;
   padding-bottom: 0;
   font-size: 13px;
  }
  #banner .container .details .vps .single-pricing-pack-2 .pricing-price small
  {
margin-top: 20px;
font-size: 12px;
color: #f8d3d3;
  }
  #banner .container .details .vps .single-pricing-pack-2 .pricing-price .h2{
      font-size: 25px;
      margin-top: 10px;
  }
  #banner .container .details .vps .single-pricing-pack-2 .pricing-price{
     
  } */

  #banner .container .navbar form{
   margin-top: 20px;
  }
  #banner .container .navbar .form-control{
      width: 350px;
       height: 50px;
      border-radius: 7px;
      border-top-right-radius:0px ;
      border-bottom-right-radius:0px ;
     
  }
  #banner .container .navbar .btn{
      height: 50px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    background-color: #FF4A58;
    color: white;
    border: #FF4A58;
  }
  #banner .container .navbar .btn:hover{
      background-color: #ff4a59e7;
  }
  #banner  .syotimer__body {

    height: 80px;
     margin: auto;
   
    align-items: center;
}
#banner  .syotimer-cell{
    width: 70px;
    height: 70px;
    border: 1px solid #c53f3f9d;
    border-radius: 5px;
    margin-right: 15px;
    float: right;
    box-shadow: #c53f3f7c 0px 4px 12px, #3f1919 0px 8px 14px,
     rgba(17, 17, 26, 0.1) 0px 16px 26px;
}
#banner  .syotimer__body  .syotimer-cell__value{
    font-size: 20px;
    color: #ffffff;
    font-family: var(--hfont);
    font-weight: 600;
    text-align: center;
    margin-top: 7px;
}
#banner  .syotimer__body  .syotimer-cell__unit{
    font-size: 15px;
    color: #ffffff;
    font-family: var(--ff2);
    font-weight: 600;
    text-align: center;
}


    /*==========
   hosting name start
  ==============*/
    /*==========
  Flexible Pricing Plan
  ==============*/
  #Flexible-plan {
      padding-bottom: 100px;
      padding-top: 100px;
      background-color: #FAFAFA;
  }
#Flexible-plan .container .details h2{
    font-size: var(--ff1);
    font-size: 35px;
}
#Flexible-plan .container .details p{
    font-size: var(--ff1);
    margin-bottom: 70px;
}

.single-pricing-pack-2{
    padding: 40px 20px;
    margin-bottom: 25px;
    background-color: white;
    transition: 0.4s;
}

.single-pricing-pack-2:hover{
    transform: translateY(-10px);
}
.single-pricing-pack-2 .pricing-icon{
    width: 250px !important;
    margin: 0 !important;
}
.single-pricing-pack-2 .pricing-icon h2{
    font-weight: bolder;
    
}
.single-pricing-pack-2  p{
    padding: 10px 17px ;
}
.single-pricing-pack-2 .see{ 
    background-color: var(--brand);
    color: rgb(226, 53, 53);
    padding: 10px 20px;
    font-size: 13px;
    font-family: var(--ff1);
    border: 1px solid rgb(226, 53, 53);
    font-weight: bold;
    border-radius: 4px;
    z-index: 111111111111111;
    transition: 0.4s;
}
.single-pricing-pack-2 .see:hover{
    background-color: rgb(226, 53, 53);
    color: rgb(240, 238, 238);
}
.single-pricing-pack-2 .pricing-price .h2{
    margin-bottom: 20px;
}
/* line 79, src/assets/scss/components/price-section/_price-1.scss */
.single-pricing-pack-2 .pricing-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 64px;
    width: 64px;
    line-height: 64px;
    margin: 0 auto 32px;
  }
  
  /* line 88, src/assets/scss/components/price-section/_price-1.scss */
  .single-pricing-pack-2 .package-title {
    font-weight: 400;
  }
  
  /* line 91, src/assets/scss/components/price-section/_price-1.scss */
  .single-pricing-pack-2 .pricing-price {
    position: relative;
  }
  
  /* line 93, src/assets/scss/components/price-section/_price-1.scss */
  .single-pricing-pack-2 .pricing-price:after {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    content: "";
    height: 2px;
    width: 32px;
    margin-left: -16px;
    background: #e80012;
  }
  
  /* line 104, src/assets/scss/components/price-section/_price-1.scss */
  .single-pricing-pack-2 .pricing-price small {
    color: #dad8d8;
  }
  
  /* line 107, src/assets/scss/components/price-section/_price-1.scss */
  .single-pricing-pack-2 .pricing-price .price-cycle {
    font-weight: 400;
  }

    /*==========
  Flexible Pricing Plan
  ==============*/



    /*==========
   70% discount
  ==============*/
  #hosting70{
      color: white;
    background: #000000;
    
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        
        padding-bottom: 60px;
        /* background-color: black; */
  }
  #hosting70 i{
      color: #000;

  }
  #hosting70 #pricing .section-heading h2{
      font-family: var(--ff1);
    

  }
/* line 716, src/assets/scss/components/price-section/_price-1.scss */
.pricing-new-wrapper .pricing-price .p-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    color:rgba(255, 0, 0, 0.699) !important;
    

  }
  .pricing-new-wrapper .pricing-price .p-icon i {
    color:rgba(255, 0, 0, 0.699) !important;
  }
  #hosting70 .popular-price:hover{
     transform: translateY(-10px);
  }
  #hosting70 .popular-price {
      transition: 0.4s;
      background-color: black !important;
   color: rgb(240, 238, 238);
   border: 1px solid rgba(255, 71, 71, 0.664) !important;
   box-shadow: rgb(206, 68, 68) 0px 5px 15px !important;
  }
  #hosting70 .popular-price .h2,
  #hosting70 .popular-price .pricing-info
  {
      color: white !important;
  }
  #hosting70 .popular-price .pricing-content strong{
    color: white !important;
  }
  #hosting70 .popular-price .pricing-content i{
    color: white !important;
  }
  /* line 217, src/assets/scss/components/price-section/_price-1.scss */
.switch-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  /* line 222, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  /* line 230, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  
  /* line 238, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch .switch-icon {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 25px;
    border: 1px solid rgba(93, 118, 174, 0.15);
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin: 0 15px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* line 251, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch .switch-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 17px;
    background-color: #e80012;
    border-radius: 15px;
    -webkit-transform: translate3d(4px, 3px, 0);
            transform: translate3d(4px, 3px, 0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  /* line 263, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch input {
    display: none;
  }
  
  /* line 267, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch input:checked + .switch-icon::after {
    -webkit-transform: translate3d(29px, 3px, 0);
            transform: translate3d(29px, 3px, 0);
  }
  
  /* line 271, src/assets/scss/components/price-section/_price-1.scss */
  .form-switch .beforeinput.text-success, .form-switch .afterinput.text-success {
    color: #e80012 !important;
  }
  
 

    /*==========
   70% discount end
  ==============*/
   /*==========
   60% discount
  ==============*/
  #hosting60{
    /* background: linear-gradient(
        75deg, #2b2dbd, #e80012) !important; */
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #C60217;
        color:  black ;
       
  }
  #hosting60 i{
    color: #000;

}
/* line 716, src/assets/scss/components/price-section/_price-1.scss */
#hosting60 .pricing-new-wrapper .pricing-price .p-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  color:rgba(2, 2, 2, 0.699) !important;
  

}
#hosting60 .popular-price:hover{
    transform: translateY(-10px);
 }
#hosting60 .pricing-new-wrapper .pricing-price .p-icon i {
  color:rgba(0, 0, 0, 0.699) !important;
}
#hosting60 .popular-price {
  transition: 0.4s;
 color: rgb(0, 0, 0);
 border: 1px solid rgba(0, 0, 0, 0.123) !important;
 box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px !important;
}
#hosting60 .popular-price .h2,
#hosting60 .popular-price .pricing-info
{
    color: rgb(0, 0, 0) !important;
}
#hosting60 .popular-price .pricing-content p{
    color: #000;
}
#hosting60 .popular-price .pricing-content strong{
  color: rgb(0, 0, 0) !important;
}
#hosting60 .popular-price .pricing-content i{
  color: rgb(0, 0, 0) !important;
}
#hosting60 .btn-outline-brand-01 {
    border-color: #000000;
    color: #000000;
    
  } 
  /* line 271, src/assets/scss/components/price-section/_price-1.scss */
  #hosting60 .form-switch .beforeinput.text-success {
    color: #ffffff !important;
  }
    /*==========
   60% discount end
  ==============*/


 

 /*==========
Review
  ==============*/
 .footer-1 {
     padding-top: 30px;
     padding-bottom: 80px;
    background: black;
    color: rgb(255, 255, 255);
 }
 .footer-1 ul{
     margin-left: 0;
     padding-left: 0;
 }
 .footer-1 ul li a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 12px;
 }


 /*==========
timer
  ==============*/
  #question{
    position: fixed;
    
      width: 100%;
      padding-top: 20px;
    background: black !important;
        z-index: 9999999999;
        bottom: 0;
        box-shadow: rgba(214, 17, 3, 0.3) 0px 0px 0px 3px;
  }
  #question .text h2{
      color: #eb3737;
      font-size: 25px;
      line-height: 50px;
  }
  #question  .syotimer__body {

    height: 80px;
     margin: auto;
   
    align-items: center;
}
#question  .syotimer-cell{
    width: 70px;
    height: 70px;
    border: 1px solid #c53f3f9d;
    border-radius: 5px;
    margin-right: 15px;
    float: right;
    box-shadow: #c53f3f7c 0px 4px 12px, #3f1919 0px 8px 14px,
     rgba(17, 17, 26, 0.1) 0px 16px 26px;
}
#question  .syotimer__body  .syotimer-cell__value{
    font-size: 20px;
    color: #ffffff;
    font-family: var(--hfont);
    font-weight: 600;
    text-align: center;
    margin-top: 7px;
}
#question  .syotimer__body  .syotimer-cell__unit{
    font-size: 15px;
    color: #ffffff;
    font-family: var(--ff2);
    font-weight: 600;
    text-align: center;
}
#question .get-link{
    margin-top: 18px;
}
#question .get-link a{

    position: relative;
    font-family: var(--ff1);
    font-size: 14px;
    font-weight: 500;
    padding:  10px 15px; 
    line-height: 1.75em;
    color: rgb(255, 255, 255);
    border: 1px solid #62208C;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #ee3939;
    border-radius: 5px;
    box-shadow: none;
   
}
#question .get-link a:hover{
    background-color: #7B1A75;
    border: 1px solid #7B1A75;
}
 /*==========
timer end
  ==============*/





  /*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: #de4644;
    padding: .4rem;
    display: flex;
    opacity: .9;
    z-index: var(--z-tooltip);
    z-index: 111111111111;
    transition: .4s;
    margin-bottom: 120px;
  }
  
  .scrollup:hover {
    background-color: #e80012;
    opacity: 1;
  }
  
  .scrollup__icon {
    color: white;
    font-size: 1.2rem;
  }
  
  /* Show scroll */
  .show-scroll {
    bottom: 5rem;
  }
  





















